---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <span>Category: {{ page.categories[0] }}</span>
  <div class="post-line"></div>

  {% if page.toc %}
  <div class="toc-container">
    <h2 id="toc-title" class="toc-title">목차</h2>
    {{ content | toc_only }}
  </div>
  {% endif %}
  {{ content }}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

{% include related-posts.html %}